body {
    margin: 0;
    padding: 0;
}

.mySlides {
    text-align: center;
    width: 100%;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    height: 90vh;
}

.slideshow {
    overflow: hidden;
    height: 90vh;
    position: relative;
    text-align: center;
    color: white;
    background-color: black;

    h1 {
        font-size: 55px;
        margin-bottom: 18px;
    }

    .imgContainer {
        filter: brightness(50%);
        position: relative;
        height: 300px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        img {
            
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 90vh;
            opacity: 0;
            z-index: 1;

            -webkit-transition: opacity 1s;
            -moz-transition: opacity 1s;
            -o-transition: opacity 1s;
            transition: opacity 1s
        }
    }
}

.showing {
    opacity: 1 !important;
    z-index: 2 !important;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}