body {
    margin: 0;
    padding: 0;
}

.mySlides {
    opacity: 0.5;
    text-align: center;
    width: 100%;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
.slideshow {
    overflow: hidden;
    max-height: 90vh;
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
    h1 {
        font-size: 55px;
        margin-bottom: 18px;
    }
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
