.mainInfo {
  display: flex;


  &__image {
    height: 300px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;

    margin:auto;
    width: 300px;
    align-self: flex-start;
    align-items:center
  }

  &__text {
    flex: 1 1 auto;
    text-align: center;
    p {
      text-align: justify
    }
  }

  @media (max-width: 900px) {
    flex-wrap: wrap;
    &__image {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
#photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#photos img {
  margin: 5px;
  width: 500px;
  height: 500px;
  object-fit: cover;
  transition: all 2s;
}

